BSKY_HANDLE=alertdc-bot.bsky.social
BSKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
FEED_URL=https://member.everbridge.net/rest/notif/page?orgId=1332612387832012&pageNo=1&pageSize=25
MAX_POSTS_PER_RUN=3
BOOTSTRAP_SILENT=true
POLL_INTERVAL_SECONDS=300
STATE_FILE=./data/state.json
